.header-wraper{
    display: flex;
    position: relative;

    background-size: cover;
    background-position: center;
    height: 90vh;
    z-index: 0;
}
.main-info{

    display: flex;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
    

}
.main-info h1{
    color:white;
    background-color:rgb(66 64 64 / 63%);
    font-size:800;
}