.main{
    display: flex;
    height: 85vh;
    width: 100vw;
    background-color: rgb(38, 218, 158);
    justify-content: center;
}
.container-{
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-card{
    margin-top: 30px;
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: center;
}
.main-card>img{
    border-radius: 15px;
    height: 70vh;
}
.typo{
    
    margin-top: 5px;
    margin-left: 20px;
    
}
.typo>h5{
    margin-bottom: 5px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
@media only screen and (max-width: 600px) {
    .main{
        padding: 0;
        height: 89vh;
    }
    .container-{
        padding:0;
    }
    .main-card{
      flex-direction: column;
      height:90vh;
    }
    .main-card>img{
        width: 90vw;
    }
    .typo{
        height: 40vh;
    }
  }
.typo>h6{
    font-weight: 700;
    font-family: sans-serif;
}